*{
    margin: 0;
    padding :0;
    box-sizing: border-box;

}
body{
    background-color: #5493ce;
    text-align: center;

}
.container{
    /* height: 700vh; */
    display: flex;
    /* height: 60vmin; */
    /* width: 60vmin; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* gap: 1.5vmin; */
}
.game{
    margin-top: 20px;
    display: flex;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    /* border: none; */
    color: rgb(235, 90, 37);
    font-size: 2rem;background-color: whitesmoke;
    box-shadow:  0 0 1rem rgba(0 , 0 ,0 ,0.5);
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #1014da;
    color: antiquewhite;
    border-radius:1rem ;
}
.winning{
    margin-top: 30px;
    height: 20vmin;
    color: antiquewhite;
    font-size: 5vmin;


}
.newgame{
    margin-top: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #1014da;
    color: antiquewhite;
    border-radius:1rem ;
}
#id1{
    color: antiquewhite;
    font-size: 5vmin;
}
.hide{
    display: none;
}